body {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh
}

h1 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

p {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}